/* Reset CSS */
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* Ghi chú  */
/* 
1.Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng  (font,kiểu chữ ,hình dạng ... )
 */
 /* Quy tắc làm */
 /* 
 1. Làm từ ngoài vào trong
 2. Làm từ trên xuống dưới
 3. Từ tổng quan đến chi tiết
 */

/* Class Dung chung */
.text-white {
    color: #fff !important;
}
.clear {
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.33333%;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.margin-top-8 {
    margin-top: 8px;
}
.margin-top-16 {
    margin-top: 16px;
}

/* End class dung chung */
#main {

}
.text-center {
    text-align: center !important;
}
    /* Header */
#header {
    height: 46px;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    /* overflow: hidden; */
}

#nav {
    display: inline-block;
}
#nav , .subnav{
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color:white;

}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav > li>  a {
    text-transform: uppercase;
}
#nav > li:hover  > a  {
    background-color: #ccc;
    color: black;
}
#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0px;
} 


#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li:hover {
    background-color: #ccc;
    color: black;
}
#nav .nav-arrow-down {
    font-size: 12px;
} 
#header .mobile-menu-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

#header .mobile-menu-btn ,
#header .search-button {
    float: right;
    padding: 0 21px;
}

#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover {
    background-color: #ddd;
    
}
#header .mobile-menu-btn .menu-icon:hover {
    color: #000;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}

    /* End Header */

    /*Silder  */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider-chicago.jpg') top center /cover  no-repeat ;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: white;
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
#slider .text-heading {
    font-weight: 550;
    font-size: 24px;
}

#slider .text-pragraph {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}


/* End Slider */

/* Content */
#content {

}
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0px 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading ,#content .section-subheading{
    text-align: center;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    margin: 15px 0px;
    text-transform: uppercase;
}
#content .section-subheading {
    font-size: 15px;
    margin: 10px 0px;
    font-style: italic;
    opacity: 0.6;
}
/* about */
#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

#content .members-list {
    margin-top: 32px;
    /* overflow: hidden; */

}

#content .members-item {
    text-align: center;
}
#content .members-item .members-name {
    margin: 15px 0px;
}

#content .member-img {
    width: 153px;
    border-radius: 4px;
    margin-top: 15px;
}
/* end about */

/* tour */

/* tour - Tickets */
.tour-section {
    background-color: black;
}
.tickets-list {
    margin-top: 40px;
    background-color: white;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 3px;
    margin-left: 15px;

}
.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    line-height: 24px;
    color: #fff;
    text-align: center;
    margin-top: -3px;
}
/*end tour - Tickets */

/* Tour - Place */
.place-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.5;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 550;

}
.place-time{
    opacity: 0.6;
    margin-top: 15px;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
    margin-bottom: 15px;
}
.place-buy-button {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-bottom:  16px; ;
    border-style: none;
}
.place-buy-button:hover {
    background-color: #ddd;
    color: #000;
    cursor: pointer;
}
    /*  Tao tuong tac cho nut BUY TICKETS     */
.modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-container {
    width: 900px;
    min-height: 200px;
    max-width: calc( 100% - 32px );
    background-color: #fff;
    position: relative;
    animation: modalAnimation ease 0.5s;
}
.modal.open {
    display: flex;
}
/* Header modal */
.modal-header {
    font-weight: 500;
    font-size: 30px;
    background-color:#009688 ;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 130px;

}
.modal-bag {
    margin-right: 16px;
}
.modal-close {
    position:absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 14px;
}
.modal-close:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

/* End header modal */

/* Body modal */
.modal-body  {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 24px ;
}

#buy-tickets {
        background: #009688;
        border: none;
        color: #Fff;
        font-size: 15px;
        width: 100%;
        padding: 10px 0px;
        text-transform: uppercase;
}
#buy-tickets:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* End body modal */
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: violet;
}
@keyframes modalAnimation{
    from {
        opacity: 0;
        transform:translateY(-150px) ;
    }
    to {
        opacity: 1;
        transform:translateY(0px) ;
    }
}


    /* END  Tao tuong tac cho nut BUY TICKETS     */

/* End Tour - Place */
/* end tour */

/* contact */
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i { /*hoac : .contact-info i[class*=ti-] {} */
    width: 30px;
    display: inline-block;
}
.contact-info a {
    color: #f10aef;
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 1;
    cursor: pointer;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .btn-Send {
    background-color: #000;
    color: #fff;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 20px;
    float: right;
    outline: aliceblue;
    appearance: none;
    -webkit-appearance :none;
}
.contact-form .btn-Send:hover {
    opacity: 0.85;
    cursor: pointer;
}

/* end contact */
/* map */
.map-section img {
    width: 100%;
}
/* end map */
/* End content */
/* footer */
#footer {
text-align: center;
padding: 64px 16px;
}
#footer .social-list  {
    
    font-size: 24px;

}
#footer .social-list a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
#footer .social-list a:hover {
    color: red;
    cursor: pointer;
}
.copyRight {
    padding: 16px;
    font-size: 15px;
    font-style: italic;
}
.copyRight a {
    text-decoration: none;
    font-style:normal;
}
.copyRight a:hover {
    color: green;
}
